*{
    margin: 0;
    padding: 0;
}.full-website{
    margin: auto;
}
.headar-div{
    width: 700px;
    padding: 20px;
    border: 1px solid #000;
    margin:20px auto;
    text-align: center;
}
.min-div{
    height: 200px;
    width: 200px;
    background: green;
    display: inline-block;
    position: absolute;
    left: 385px;
}
.frist-div{
    height: 200px;
    width: 200px;
    background: tomato;
    display: inline-block;
    position: relative;
    left: 104px;
}
.frist-div2{
    height: 200px;
    width: 200px;
    background: blue;
    display: inline-block;
    position: relative;
    left: 100px;
}
.mindiv{
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    margin: auto;

}

.hoverdiv {
	height: 300px;
    width: 300px;
    position: relative;
}
.hoverdiv img{
     width: 300px;
     height: 300px;

}
.inarcontain {
	position: absolute;
    color: #fff;
    height: 300px;
    width: 300px;
    text-align: center;
    opacity: 0;
    transition: .5s;
    background: #f0932b;
    bottom: 0px;

}
.inarcontain h2 {
	margin-top: 228px;
	position: relative;
	font-size: 43px;
}
.hoverdiv:hover .inarcontain{
    opacity: .4;
    visibility: visible;
    transition: .5s;
}